@model List<TestApp.Models.Dog>

@{
    ViewBag.Title = "Beginning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container-fluid">



    

    <div id="cards" style="font-size: 18px; background-color: white; width: 900px;  margin: auto; ">

        <div class="heading" style="background-color: white; width: 150px; height: 100px; margin-right: auto;">
            <\br>
                <h1> Psy </h1>
        </div>

        <div class="card-deck">
            <div class="row">



                @foreach (var item in Model)
                {

                    <div class="col-sm-4">
                        <div class="card">

                            <img src="@Url.Content(item.Img)" width="240" height="290">

                            <div class="card-body" style="height:110px">

                                <div class="card-title" style="font-size:25px;"><b>@item.Name</b> </div>
                                <a class="btn btn-info btn-sm" style="font-size:16px;" href="@Url.Action("Info", "Dog", new { id=item.Id})">Szczegóły</a>
                                <a class="btn btn-primary btn-sm" style="font-size:16px;" href="@Url.Action("Edit", "Dog", new { id=item.Id})">Edytuj</a>
                                <a class="btn btn-danger btn-sm" style="font-size:16px;" href="@Url.Action("Delete", "Dog", new { id=item.Id})">Usuń</a>
                                <h5 class="card-footer">   </h5>
                            </div>

                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
