@model List<TestApp.Models.Dog>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="heading" style="background-color:white; width:150px; height:50px">
    <h2> Znajdź psa </h2>
</div>


<p>
    @using (Html.BeginForm("Search", "Dog", FormMethod.Get))
    {
    <div style="font-size: 18px; background-color: white; width:355px;">

        <b> Płeć: </b>
        @Html.RadioButton("option", "Female", true)<b> Samica </b>
        @Html.RadioButton("option", "Male") <b> Samiec </b>


        <br />
        <br />

        @Html.CheckBox("petfriendly", "PetFreindly") <b> Do domu z innymi zwierzętami </b>
        <br />
        <br />

        @Html.CheckBox("childfriendly", "ChildFreindly") <b> Do domu z dziećmi </b>
        <br />
        <br />

        <b>Wielkość: </b>
        @Html.CheckBox("size1", "Small") <b> Mały </b>
        @Html.CheckBox("size2", "Mediun") <b> Średni </b>
        @Html.CheckBox("size3", "Big") <b> Duży </b>

        <br />
        <br />
        <b>Wiek: </b>
        <input class="form-control" type="text" name="Age" />

        <br />
        <br />
        <input type="submit"  style="font-size:18px; background-color:bisque "value="Szukaj" />
        <br />

      </div>


        <br />
        foreach (var item in Model)
        {
        <div class="col-sm-4">
            <div class="card">
                <img src="@Url.Content(item.Img)" width="240" height="290">

                <div class="card-body">
                    <h5 class="card-title" style="font-size:25px;">@item.Name</h5>
                    <a class="btn btn-info btn-sm" style="font-size:16px;" href="@Url.Action("Info", "Dog", new { id=item.Id})">Szczegóły</a>
                    <a class="btn btn-primary btn-sm" style="font-size:16px;" href="@Url.Action("Edit", "Dog", new { id=item.Id})">Edytuj</a>
                    <a class="btn btn-danger btn-sm" style="font-size:16px;" href="@Url.Action("Delete", "Dog", new { id=item.Id})">Usuń</a>
                    <h5 class="card-footer">   </h5>
                </div>
            </div>
        </div>


         
        }
        
    }
</p>




